.filter{
    height: 200px;
    background-color: black;    
    position: relative; 
    top:80px;
    &_tabs{
        display: flex;
        justify-content: center;
        position: relative;
        &_kernel{
            width: 90vw;
            background-color: #008080;
            position: relative;
            height: 120px;
            top:40px;
            z-index: 99;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 2vw;
            flex-wrap:wrap;
            select{
                width: 200px;
                &:disabled{
                    width: 200px;
                    opacity: 1;
                }
            }
        }
    }
}
.clinics{
    //background-color: rgba($color: #008080, $alpha: 0.4);
    padding: 0 2vw;
    min-height: 500px;
    padding-top: 80px;
    position: relative;
    &_kernel{
        position: relative;
        padding: 2vw 0;
        display: grid;
        justify-content: center;
        align-items: flex-start;
        //row-gap: 20px;
        padding-top: 20px;
        &_clinic{
            display: flex;
            align-items: center;
            background-color: rgba($color: #008080, $alpha: 0.4);
            width: 80vw;
            margin-bottom: 20px;
            &:hover{
                background-color: rgba($color: #008080, $alpha: 1);
                img{
                    box-shadow: 2px 2px 3px 1px gray;
                    filter: brightness(1.1);
                }
            }
            #image{
                width: 50vw;
                max-width: 450px;
                padding: 1%;
                aspect-ratio: 3/2;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 4%;
                }
            }
            #text{
                display: grid;
                width: 40vw;
                justify-content: center;
                h1{
                    font-size: 45px;
                    position: relative;
                    transition: color 0.2s ease;
                    text-shadow: -1px -1px black, -1px -1px gray;
                    #line{
                        position: absolute;
                        top:0;
                        left: 0;
                        width: 0;
                        height: 3px;
                        display: block;
                        background-color: gold;
                        transition: width 0.4s ease;
                    }
                    #icon{
                        opacity: 0;
                        position: relative;
                        left: 10px;
                        transition: opacity 0.4s ease;
                        transition-delay: 0.2s;
                    }
                    &:hover{
                        color:gold;
                        #icon{
                            opacity: 1;
                        }
                        #line{
                            width: 100%;
                        }
                    }
                }
                h2{font-weight: 200;}
                height: fit-content;
            }
        }
        &_results{
            width: 90vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            button{
                background-color: gold;
                font-size: 45px;
                border-radius: 10px;
                height: 100px;
            }
            &_holder{
                display: flex;
                column-gap: 10px;
                align-items: center;
                padding: 1vw 2vw;
                background-color: rgba($color: gray, $alpha: 0.2);
                box-shadow: 1px 1px 3px 1px gray;
                img{
                    width: 15vw;
                    max-width: 200px;
                    height: auto;
                    object-fit: cover;
                    filter: brightness(1.2);
                }
                #text{
                    width: 100%;
                    display: grid;
                    justify-content: center;
                    height: fit-content;
                    h2{font-weight: 200;}
                }
            }
        }

    }
}

#mypatients, #appointment{
    height: 100vh;
    background-color: rgba($color: #008080, $alpha: 0.4);
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(231, 75, 106);
    font-size: 4vw;
    text-shadow: -2px -2px black;
}

#appointment{
    color: rgb(127, 189, 209);
}






//RESPONSIVE
@media (max-width: 991.98px) { 
    .clinics{
        padding-left: 0;
        padding-right: 0;
        &_kernel{
            padding-left: 0;
            padding-right: 0;
            &_clinic{
                display: flex;
                align-items: center;
                background-color: rgba($color: blue, $alpha: 0.4);
                width: 96vw;
                #image{
                    width: 45vw;
                }
                #text{
                    width: 51vw;
                    h1{font-size: 4vw;}
                    h2{font-size: 2.6vw;}
                }
            }
            &_results{
                gap: 10px;
                &_holder{
                    padding: 1vw;
                    img{
                        max-width: 100px;
                    }
                    #text{
                        h1{
                            font-size: 3vw;
                        }
                        h2{
                            font-size: 2.5vw;
                        }
                    }
                }
            }
        }
    }
 }

@media (max-width: 767.98px) { 
    .clinics{
        &_kernel{
            &_clinic{
                background-color: rgba($color: red, $alpha: 0.4);
                #text{
                    width: 51vw;
                    h1{font-size: 4.5vw;}
                    h2{font-size: 3vw;}
                }
            }
            &_results{
                grid-template-columns: 1fr;
                justify-items: center;
                &_holder{
                    width: 90vw;
                    max-width: 500px;
                    img{
                        width: 25vw;
                        max-width: unset;
                    }
                    #text{
                        h1{
                            font-size: 25px;
                        }
                        h2{
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
 }


@media (max-width: 575.98px) { 
    .clinics{
        &_kernel{
            row-gap: 0;
            padding-top: 0;
            padding-bottom: 0;
            &_clinic{
                background-color: rgba($color: green, $alpha: 0.4);
                padding-top: 20px;
                padding-bottom: 10px;
                display: grid;
                justify-items: center;
                width: 100vw;
                #image{
                    width: 90vw;
                    max-width: 400px;
                }
                #text{
                    width: 90vw;
                    max-width: 400px;
                    h1{font-size: 30px;}
                    h2{font-size: 19px;}
                    display: grid;
                    justify-content: flex-start;
                    padding-left: 2vw;
                }
            }
            &_results{
                padding-top: 20px;
                gap: 15px;
                &_holder{
                    img{
                    }
                    #text{

                    }
                }
            }
        }
    }
 }