.clinics{
    //background-color: rgba($color: #008080, $alpha: 0.4);
    padding: 0 2vw;
    min-height: 500px;
    &_kernel{
        border: 2px solid gold;
        padding-top: 20px;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: flex-start;
        row-gap: 20px;
        &_clinic{
            display: flex;
            align-items: center;
            background-color: rgba($color: #008080, $alpha: 0.4);
            column-gap: 4vw;
            width: 90vw;
            #image{
                width: 50vw;
                max-width: 500px;
                padding: 1%;
                aspect-ratio: 3/2;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 4%;
                }
            }
            #text{
                display: grid;
                width: 40vw;
                justify-content: center;
                h1{font-size: 45px;}
                h2{font-weight: 200;}
                height: fit-content;
            }
        }
    }
}