.filter {
  height: 220px;
  background-color: black;
  position: relative;
  top: 80px;
}
.filter_tabs {
  display: grid;
  justify-content: center;
  position: relative;
}
.filter_tabs_kernel {
  width: 95vw;
  position: relative;
  height: 120px;
  top: 50px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  flex-wrap: wrap;
  padding-top: 20px;
}
.filter_tabs_kernel select {
  width: 30vw;
  max-width: 400px;
  font-size: medium;
  background-color: black;
  color: whitesmoke;
  padding: 5px;
  border: none;
  box-shadow: 0px 0px 3px 1px whitesmoke;
}
.filter_tabs_kernel select:disabled {
  opacity: 1;
}
.filter_tabs_kernel button {
  position: absolute;
  width: 30vw;
  max-width: 400px;
  border-radius: 5px;
  padding: 5px 0;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  font-size: medium;
  background-color: rgba(255, 215, 0, 0.9);
}
.filter_tabs_kernel button:disabled {
  background-color: gray;
  color: whitesmoke;
}

.clinics {
  padding: 0 2vw;
  min-height: 500px;
  padding-top: 80px;
  position: relative;
}
.clinics_kernel {
  position: relative;
  padding: 2vw 0;
  display: grid;
  justify-items: center;
  align-items: flex-start;
  padding-top: 10px;
}
.clinics_kernel #warning {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  color: crimson;
  margin-bottom: 10px;
}
.clinics_kernel #warning h1 {
  font-weight: 200;
}
.clinics_kernel #warning img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100px;
  width: auto;
  filter: brightness(1.5);
}
.clinics_kernel_clinic {
  display: flex;
  align-items: center;
  background-color: rgba(0, 128, 128, 0.4);
  width: 80vw;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.clinics_kernel_clinic #image {
  width: 50vw;
  max-width: 450px;
  padding: 1%;
  aspect-ratio: 3/2;
}
.clinics_kernel_clinic #image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 4%;
}
.clinics_kernel_clinic #text {
  display: grid;
  width: 40vw;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.clinics_kernel_clinic #text h1 {
  font-size: 45px;
  position: relative;
  transition: color 0.2s ease;
  text-shadow: -1px -1px black, -1px -1px gray;
}
.clinics_kernel_clinic #text h1 #line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  display: block;
  background-color: gold;
  transition: width 0.4s ease;
}
.clinics_kernel_clinic #text h1 #icon {
  opacity: 0;
  position: relative;
  left: 10px;
  transition: opacity 0.4s ease;
  transition-delay: 0.2s;
}
.clinics_kernel_clinic #text h2 {
  font-weight: 200;
}
.clinics_kernel_clinic:hover {
  box-shadow: 0px 0px 3px 2px black;
}
.clinics_kernel_clinic:hover img {
  box-shadow: 2px 2px 3px 1px black;
  filter: brightness(1.1);
}
.clinics_kernel_clinic:hover #text h1 {
  color: gold;
}
.clinics_kernel_clinic:hover #text h1 #icon {
  opacity: 1;
}
.clinics_kernel_clinic:hover #text h1 #line {
  width: 100%;
}
.clinics_kernel_results {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.clinics_kernel_results button {
  background-color: gold;
  font-size: 45px;
  border-radius: 10px;
  height: 100px;
}
.clinics_kernel_results_holder {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  padding: 1vw 2vw;
  background-color: rgba(128, 128, 128, 0.2);
  box-shadow: 1px 1px 3px 1px gray;
}
.clinics_kernel_results_holder img {
  width: 15vw;
  max-width: 200px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.clinics_kernel_results_holder #text {
  width: 100%;
  display: grid;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.clinics_kernel_results_holder #text h2 {
  font-weight: 200;
}
.clinics_kernel_results_holder:hover {
  box-shadow: 1px 1px 3px 1px gray;
  background-color: rgba(128, 128, 128, 0.5);
}
.clinics_kernel_results_holder:hover img {
  filter: brightness(1.35);
}

#mypatients, #appointment {
  height: 100vh;
  background-color: rgba(0, 128, 128, 0.4);
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 75, 106);
  font-size: 4vw;
  text-shadow: -2px -2px black;
}

#appointment {
  color: rgb(127, 189, 209);
}

@media (max-width: 991.98px) {
  .clinics {
    padding-left: 0;
    padding-right: 0;
  }
  .clinics_kernel {
    padding-left: 0;
    padding-right: 0;
  }
  .clinics_kernel_clinic {
    display: flex;
    align-items: center;
    width: 96vw;
  }
  .clinics_kernel_clinic #image {
    width: 45vw;
  }
  .clinics_kernel_clinic #text {
    width: 51vw;
  }
  .clinics_kernel_clinic #text h1 {
    font-size: 4vw;
  }
  .clinics_kernel_clinic #text h2 {
    font-size: 2.6vw;
  }
  .clinics_kernel_results {
    gap: 10px;
  }
  .clinics_kernel_results_holder {
    padding: 1vw;
  }
  .clinics_kernel_results_holder img {
    max-width: 100px;
  }
  .clinics_kernel_results_holder #text h1 {
    font-size: 3vw;
  }
  .clinics_kernel_results_holder #text h2 {
    font-size: 2.5vw;
  }
}
@media (max-width: 767.98px) {
  .clinics_kernel_clinic #text {
    width: 51vw;
  }
  .clinics_kernel_clinic #text h1 {
    font-size: 4.5vw;
  }
  .clinics_kernel_clinic #text h2 {
    font-size: 3vw;
  }
  .clinics_kernel_results {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .clinics_kernel_results_holder {
    width: 90vw;
    max-width: 500px;
  }
  .clinics_kernel_results_holder img {
    width: 25vw;
    max-width: unset;
  }
  .clinics_kernel_results_holder #text h1 {
    font-size: 25px;
  }
  .clinics_kernel_results_holder #text h2 {
    font-size: 21px;
  }
}
@media (max-width: 575.98px) {
  .filter {
    height: 200px;
  }
  .filter_tabs_kernel {
    background-color: black;
    height: 120px;
    top: 20px;
    display: grid;
    row-gap: 5px;
    padding-top: 0;
  }
  .filter_tabs_kernel select {
    width: 80vw;
  }
  .filter_tabs_kernel button {
    width: 80vw;
    bottom: -50px;
  }
  .clinics_kernel {
    row-gap: 0;
    padding-top: 10px;
    padding-bottom: 0;
  }
  .clinics_kernel #warning {
    display: grid;
    justify-items: center;
    font-size: 3vw;
    margin-bottom: 0;
  }
  .clinics_kernel_clinic {
    padding-top: 20px;
    padding-bottom: 10px;
    display: grid;
    justify-items: center;
    width: 90vw;
  }
  .clinics_kernel_clinic #image {
    width: 90vw;
    max-width: 400px;
  }
  .clinics_kernel_clinic #text {
    width: 90vw;
    max-width: 400px;
    display: grid;
    justify-content: flex-start;
    padding-left: 2vw;
  }
  .clinics_kernel_clinic #text h1 {
    font-size: 30px;
  }
  .clinics_kernel_clinic #text h2 {
    font-size: 19px;
  }
  .clinics_kernel_results {
    padding-top: 20px;
    gap: 15px;
  }
}/*# sourceMappingURL=Clinics.module.css.map */