.filter {
  height: 200px;
  background-color: black;
  position: relative;
  top: 80px;
}
.filter_tabs {
  display: flex;
  justify-content: center;
  position: relative;
}
.filter_tabs_kernel {
  width: 90vw;
  background-color: #008080;
  position: relative;
  height: 120px;
  top: 40px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  flex-wrap: wrap;
}
.clinics {
  padding: 0 2vw;
  min-height: 500px;
  padding-top: 80px;
  position: relative;
  top: -200px;
}
.clinics_kernel {
  position: relative;
  padding: 2vw 0;
  padding-top: calc(200px + 2vw);
  display: grid;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
}
.clinics_kernel_clinic {
  display: flex;
  align-items: center;
  background-color: rgba(0, 128, 128, 0.4);
  width: 80vw;
}
.clinics_kernel_clinic:hover {
  background-color: teal;
}
.clinics_kernel_clinic:hover img {
  box-shadow: 2px 2px 3px 1px gray;
  filter: brightness(1.1);
}
.clinics_kernel_clinic #image {
  width: 50vw;
  max-width: 450px;
  padding: 1%;
  aspect-ratio: 3/2;
}
.clinics_kernel_clinic #image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 4%;
}
.clinics_kernel_clinic #text {
  display: grid;
  width: 40vw;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.clinics_kernel_clinic #text h1 {
  font-size: 45px;
  position: relative;
  transition: color 0.2s ease;
  text-shadow: -1px -1px black, -1px -1px gray;
}
.clinics_kernel_clinic #text h1 #line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  display: block;
  background-color: gold;
  transition: width 0.4s ease;
}
.clinics_kernel_clinic #text h1 #icon {
  opacity: 0;
  position: relative;
  left: 10px;
  transition: opacity 0.4s ease;
  transition-delay: 0.2s;
}
.clinics_kernel_clinic #text h1:hover {
  color: gold;
}
.clinics_kernel_clinic #text h1:hover #icon {
  opacity: 1;
}
.clinics_kernel_clinic #text h1:hover #line {
  width: 100%;
}
.clinics_kernel_clinic #text h2 {
  font-weight: 200;
}

#mypatients, #appointment {
  height: 100vh;
  background-color: rgba(0, 128, 128, 0.4);
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 75, 106);
  font-size: 4vw;
  text-shadow: -2px -2px black;
}

#appointment {
  color: rgb(127, 189, 209);
}

@media (max-width: 991.98px) {
  .clinics {
    padding-left: 0;
    padding-right: 0;
  }
  .clinics_kernel {
    padding-left: 0;
    padding-right: 0;
  }
  .clinics_kernel_clinic {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.4);
    width: 96vw;
  }
  .clinics_kernel_clinic #image {
    width: 45vw;
  }
  .clinics_kernel_clinic #text {
    width: 51vw;
  }
  .clinics_kernel_clinic #text h1 {
    font-size: 4vw;
  }
  .clinics_kernel_clinic #text h2 {
    font-size: 2.6vw;
  }
}
@media (max-width: 767.98px) {
  .clinics_kernel_clinic {
    background-color: rgba(255, 0, 0, 0.4);
  }
  .clinics_kernel_clinic #text {
    width: 51vw;
  }
  .clinics_kernel_clinic #text h1 {
    font-size: 4.5vw;
  }
  .clinics_kernel_clinic #text h2 {
    font-size: 3vw;
  }
}
@media (max-width: 575.98px) {
  .clinics_kernel {
    row-gap: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .clinics_kernel_clinic {
    background-color: rgba(0, 128, 0, 0.4);
    padding-top: 20px;
    padding-bottom: 10px;
    display: grid;
    justify-items: center;
    width: 100vw;
  }
  .clinics_kernel_clinic #image {
    width: 90vw;
    max-width: 400px;
  }
  .clinics_kernel_clinic #text {
    width: 90vw;
    max-width: 400px;
    display: grid;
    justify-content: flex-start;
    padding-left: 2vw;
  }
  .clinics_kernel_clinic #text h1 {
    font-size: 30px;
  }
  .clinics_kernel_clinic #text h2 {
    font-size: 19px;
  }
}/*# sourceMappingURL=Clinics.module.css.map */