.dr {
  min-height: 100vh;
  padding-top: 80px;
}
.dr h2 {
  color: #333333;
}
.dr span, .dr a, .dr div, .dr h1, .dr h2, .dr h3, .dr h4 {
  font-family: sharp-sans-medium, Arial, sans-serif;
  line-height: 24px;
  letter-spacing: 0em;
}
.dr_intro {
  background-color: rgb(252, 249, 242);
  display: flex;
  align-items: center;
  padding: 30px 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  min-height: 250px;
}
.dr_intro_image {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  min-width: 350px;
}
.dr_intro_image img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background-color: silver;
}
.dr_intro_image_text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 15px;
}
.dr_intro_image_text h2 {
  margin-bottom: 5px;
}
.dr_intro_tabs {
  display: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.dr_intro_tabs_each {
  padding: 0 20px;
  max-width: 300px;
  border-right: 1px solid silver;
}
.dr_intro_tabs_each #title {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.dr_intro_tabs_each #title span:nth-child(1) {
  font-size: x-large;
  color: red;
}
.dr_intro_tabs_each #title span:nth-child(2) {
  font-size: 17px;
}
.dr_intro_tabs_each h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 100 !important;
  height: 40px;
}
.dr_intro_tabs_each h4 {
  text-align: center;
  font-weight: 100;
  color: rgb(44, 100, 216);
  text-decoration: underline;
  font-size: 15px;
  margin-top: 5px;
  white-space: nowrap;
}
.dr_intro_tabs_each div:nth-child(2) {
  max-width: 200px;
  height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow-y: hidden;
  font-size: 14px;
  color: rgb(51, 51, 51);
}
.dr_book {
  padding: 30px 4vw;
}
.dr_book_kernel {
  border: 2px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
  padding: 50px 40px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  position: relative;
}
.dr_book_kernel_left, .dr_book_kernel_right {
  display: grid;
  row-gap: 20px;
  color: #333333;
  line-height: 24px;
  font-size: 16px;
}
.dr_book_kernel_left select, .dr_book_kernel_right select {
  color: rgb(51, 51, 51);
  line-height: 24px;
  padding: 10px;
  font-weight: 100;
  line-height: 24px;
  outline: none;
  border: 1px solid silver;
  border-radius: 5px;
  cursor: pointer;
  font-family: sharp-sans-medium, fallback-font, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0em;
}
.dr_book_kernel_right {
  background-color: #F7F8F9;
  padding: 30px;
  color: rgb(51, 51, 51);
  text-align: left;
  padding-right: 15%;
}
.dr_book_kernel_right a {
  background-color: rgb(255, 240, 75);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  color: rgb(51, 51, 51);
}
.dr_book_kernel_right a:hover {
  background-color: rgb(252, 222, 49);
}
.dr_book #details {
  font-weight: 600;
  color: #333333;
  width: 70vw;
  position: relative;
  left: 11vw;
}
.dr_book_details #shuffle {
  border: 2px solid red;
  display: grid;
  grid-template-areas: "triple triple" "left right";
}
.dr_book_details #shuffle #left, .dr_book_details #shuffle #right {
  grid-area: left;
  width: 150px;
  border-right: 1px solid silver;
}
.dr_book_details #shuffle #left #rating, .dr_book_details #shuffle #right #rating {
  color: red;
}
.dr_book_details #shuffle #left button, .dr_book_details #shuffle #right button {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 5px;
  color: #333333;
}
.dr_book_details #shuffle #left button:hover, .dr_book_details #shuffle #right button:hover {
  background-color: black;
  color: whitesmoke;
}
.dr_book_details #shuffle #left h2, .dr_book_details #shuffle #right h2 {
  font-size: 55px;
  line-height: 75px;
  font-weight: 100;
  letter-spacing: 2px;
}
.dr_book_details #shuffle #right {
  grid-area: right;
  width: calc(70vw - 150px);
  padding-left: 20px;
}
.dr_book_details #shuffle #right div {
  margin: 10px 0;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
  font-weight: 100;
  color: #333333;
  padding-right: 40px;
  padding-bottom: 30px;
}
.dr_book_details #shuffle #right div span {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(92, 91, 91);
  font-size: small;
}
.dr_book_details #shuffle #right button {
  font-size: medium;
  width: 200px;
  padding: 0;
  height: 48px;
}
.dr_book_details_tabs {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  border-bottom: 1px solid silver;
  height: 45px;
}
.dr_book_details_tabs a {
  padding-bottom: 25px;
}
.dr_book_details_tabs a:hover {
  border-bottom: 4px solid black;
}
.dr_book_details_triple {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: triple;
  border-bottom: 1px solid silver;
  margin-bottom: 30px;
}
.dr_book_details_triple_column {
  padding: 20px 0;
  padding-top: 30px;
  display: grid;
  row-gap: 20px;
}
.dr_book_details_triple_column_double {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.dr_book_details_triple_column_double span {
  color: red;
  font-size: larger;
}
.dr_book_details_triple_column_double_text div:nth-child(1) {
  font-weight: 600;
}
.dr_book_details_triple_column_double_text div:nth-child(2) {
  color: #333333;
  font-weight: 100;
  font-size: 15px;
}

@media (max-width: 991.98px) {
  .dr_book_kernel {
    grid-template-columns: 1fr;
  }
  .dr_book #details {
    border: 2px solid blue;
    width: 92vw;
    left: 0;
  }
}/*# sourceMappingURL=Dr.module.css.map */