@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
.homie{
    background-color: rgba($color: #008080, $alpha: 0.4);
    padding: 0 2vw;
    font-family: 'Oswald', sans-serif;
    padding-top: 80px;
    #quick{
        position: fixed;
        display: flex;
        justify-content: center;
        height: 380px;
        left: 4vw;
        top:calc(50vh - 200px);
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: -5px;
        h3{font-size: 17px;}
        background-color: rgba($color: #008080, $alpha: 0.2);
        box-shadow: -1px -1px 7px 2px #008080;
        border-radius: 10px;
        padding: 10px;
        animation: attention 1.5s infinite;
        font-weight: 600;
        cursor: pointer;
        z-index: 99999 !important;
        span{
            display: none;
        }

        &:hover{
            animation: none;
            color: whitesmoke;
            box-shadow: -1px -1px 7px 2px whitesmoke;
            text-shadow: 1px 1px 3px black;

        }
    }
    &_motto{
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10vw;
        max-height: 800px;
        img{
            width: 30vw;
            height: auto;
            object-fit: contain;
            position: relative;
            min-width: 400px;
        }
        h1 {
            position: relative;
            opacity: 0;
            animation: text_intro 0.6s forwards;
            font-size: 45px;
            font-weight: 400;
            &:nth-child(2) {
                animation-delay: 0.6s;
            }
            &:nth-child(3) {
                animation-delay: 1.2s;
            }
            &:nth-child(4) {
                animation-delay: 1.8s;
                font-size: xx-large;
            }
            &:nth-child(5) {
                animation: text_pop 0.6s forwards !important;
                animation-delay: 2.5s !important;
                text-shadow: -2px -2px 30px rgb(22,28,63);
            }
        }
    }
    #left{
        justify-content: flex-start;
        padding-left: 10vw;
        padding-right: 0;
        column-gap: 30px;
        h1{
            &:nth-child(5) {
                text-shadow: -2px -2px 30px rgb(22,28,63);
            }
        }
    }
}


//RESPONSIVE
@media (max-width: 991.98px) { 
    .homie{
        height: auto;
        //background-color: rgba($color: blue, $alpha: 0.4);
        #quick{
            font-size: 15px;
            top:unset;
            bottom: 0;
            left: 0;
            right: 0;
            height: 40px;
            writing-mode: horizontal-tb;
            letter-spacing: normal;
            animation: none;
            h3{
                animation: attention2 1s infinite;
                margin-left: 5px;
            }
            align-items: center;
            border-radius: 0;
            box-shadow: none;
            background-color: black;
            color: whitesmoke;
            span{
                display: block;
                font-size: xx-large;
            }
            &:hover{
                box-shadow: none;
            }
        }
        &_motto{
            padding-right: 0;
            align-items: center;
            //column-gap: 3vw;            
            max-height: 550px;
            justify-content: center;
        }
        #left{
            padding: 0;
            max-height: 800px;
            justify-content: center;
            h1{
                &:nth-child(5) {
                    text-shadow: -2px -2px 30px rgb(22,28,63);
                }
            }
        }

    }
 }

@media (max-width: 767.98px) { 
    .homie{
        //background-color: rgba($color: red, $alpha: 0.4);
        &_motto{
            column-gap: 0;
            max-height: 500px;
            img{
                min-width: 320px;
            }
            h1 {
                opacity: 0;
                animation: text_intro 0.6s forwards;
                font-size: 30px;
                &:nth-child(5) {
                    animation: text_pop2 0.6s forwards !important;
                    animation-delay: 2.5s !important;
                }
            }
        }
        #left{
            max-height: 500px;
            h1{
                &:nth-child(5) {
                    text-shadow: -2px -2px 30px rgb(22,28,63);
                }
            }
        }
    }
 }


@media (max-width: 575.98px) { 
    .homie{
        //background-color: rgba($color: green, $alpha: 0.4);
        h1{
            //color: #9e2699;
            position: relative;
            width: fit-content;
            span{
                position: absolute;
                left: -5px;
                top: 50%;
                width: 100%;
                box-shadow: 0px 0px 12px 7px gold;
                z-index: -1;
            }
        }
        &_motto{
            justify-content: flex-start;
            img{
                min-width: unset;
                width: 90vw;
                max-width: 350px;
            }
            #hs{
                position: absolute;
                z-index: 999;
                right: 3vw;
                top:230px;
                
            }
            h1 {
                font-size: 5vw;
            }
        }
        #left{
            justify-content: flex-end;
            h1{
                &:nth-child(5) {
                    text-shadow: -2px -2px 30px rgb(22,28,63);
                }
            }
            #hs{
                position: absolute;
                z-index: 999;
                left: 3vw;
            }
        }
    }
 }


//ANIMATIONS
@keyframes text_intro {
    from{
        top: -30px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

@keyframes text_pop {
    from{
        opacity: 0;
        font-size: 45px;
    }
    to{
        opacity: 1;
        font-size: 65px;
    }
}

@keyframes text_pop2 {
    from{
        opacity: 0;
        font-size: 25px;
    }
    to{
        opacity: 1;
        font-size: 35px;
    }
}

@keyframes attention {
    0%{            box-shadow: -1px -1px 7px 2px #008080;   }
    50%{            box-shadow: -1px -1px 25px 7px rgb(22,28,63);  }
    100%{            box-shadow: -1px -1px 7px 2px #008080;   }
}

@keyframes attention2  {
    from{
        color:whitesmoke;
        //font-size: 15px;
        transform: scale(1);
    }
    to{
        color: gold;
        //font-size: 20px;
        transform: scale(1.1);
    }
}