@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.homie{
    height: 100vh;
    background-color: rgba($color: #008080, $alpha: 0.4);
    padding: 0 2vw;
    font-family: 'Oswald', sans-serif;
    &_motto{
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 30vw;
            height: auto;
            object-fit: contain;
            position: relative;
            min-width: 400px;
        }
        h1 {
            position: relative;
            opacity: 0;
            animation: text_intro 0.6s forwards;
            font-weight: 600;
            font-size: 45px;
            &:nth-child(2) {
                animation-delay: 0.6s;
            }
            &:nth-child(3) {
                animation-delay: 1.2s;
            }
            &:nth-child(4) {
                animation-delay: 1.8s;
                font-size: xx-large;
            }
            &:nth-child(5) {
                animation-delay: 2.5s;
                font-size: 55px;
            }
        }
    }
}





@keyframes text_intro {
    from{
        top: -30px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}