@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
.homie {
  background-color: rgba(0, 128, 128, 0.4);
  padding: 0 2vw;
  font-family: "Oswald", sans-serif;
}
.homie_motto {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10vw;
  height: calc(100vh - 80px);
  max-height: 800px;
}
.homie_motto #quick {
  position: fixed;
  left: 4vw;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -5px;
  font-size: 17px;
  background-color: rgba(0, 128, 128, 0.2);
  box-shadow: -1px -1px 7px 2px #008080;
  border-radius: 10px;
  padding: 10px;
  -webkit-animation: attention 1.5s infinite;
          animation: attention 1.5s infinite;
  font-weight: 600;
  cursor: pointer;
}
.homie_motto #quick:hover {
  -webkit-animation: none;
          animation: none;
  color: whitesmoke;
  box-shadow: -1px -1px 7px 2px whitesmoke;
  text-shadow: 1px 1px 3px black;
}
.homie_motto img {
  width: 30vw;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  min-width: 400px;
}
.homie_motto h1 {
  position: relative;
  opacity: 0;
  -webkit-animation: text_intro 0.6s forwards;
          animation: text_intro 0.6s forwards;
  font-size: 45px;
  font-weight: 400;
}
.homie_motto h1:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.homie_motto h1:nth-child(3) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.homie_motto h1:nth-child(4) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  font-size: xx-large;
}
.homie_motto h1:nth-child(5) {
  -webkit-animation: text_pop 0.6s forwards !important;
          animation: text_pop 0.6s forwards !important;
  -webkit-animation-delay: 2.5s !important;
          animation-delay: 2.5s !important;
  text-shadow: -2px -2px 30px rgb(22, 28, 63);
}
.homie #left {
  justify-content: flex-start;
  padding-left: 10vw;
  padding-right: 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.homie #left h1:nth-child(5) {
  text-shadow: -2px -2px 30px rgb(22, 28, 63);
}

@-webkit-keyframes text_intro {
  from {
    top: -30px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes text_intro {
  from {
    top: -30px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes text_pop {
  from {
    opacity: 0;
    font-size: 45px;
  }
  to {
    opacity: 1;
    font-size: 65px;
  }
}
@keyframes text_pop {
  from {
    opacity: 0;
    font-size: 45px;
  }
  to {
    opacity: 1;
    font-size: 65px;
  }
}
@-webkit-keyframes attention {
  0% {
    box-shadow: -1px -1px 7px 2px #008080;
  }
  50% {
    box-shadow: -1px -1px 25px 7px rgb(22, 28, 63);
  }
  100% {
    box-shadow: -1px -1px 7px 2px #008080;
  }
}
@keyframes attention {
  0% {
    box-shadow: -1px -1px 7px 2px #008080;
  }
  50% {
    box-shadow: -1px -1px 25px 7px rgb(22, 28, 63);
  }
  100% {
    box-shadow: -1px -1px 7px 2px #008080;
  }
}/*# sourceMappingURL=Homie.module.css.map */