@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.homie{
    background-color: rgba($color: #008080, $alpha: 0.4);
    padding: 0 2vw;
    font-family: 'Oswald', sans-serif;
    &_motto{
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10vw;
        height: calc(100vh - 80px);
        max-height: 800px;
        img{
            width: 30vw;
            height: auto;
            object-fit: contain;
            position: relative;
            min-width: 400px;
        }
        h1 {
            position: relative;
            opacity: 0;
            animation: text_intro 0.6s forwards;
            font-weight: 600;
            font-size: 45px;
            &:nth-child(2) {
                animation-delay: 0.6s;
            }
            &:nth-child(3) {
                animation-delay: 1.2s;
            }
            &:nth-child(4) {
                animation-delay: 1.8s;
                font-size: xx-large;
            }
            &:nth-child(5) {
                animation: text_pop 0.6s forwards !important;
                animation-delay: 2.5s !important;
                text-shadow: -2px -2px 30px purple;
            }
        }
    }
    #left{
        justify-content: flex-start;
        padding-left: 10vw;
        padding-right: 0;
        column-gap: 30px;
        h1{
            &:nth-child(5) {
                text-shadow: -2px -2px 30px navy;
            }
        }
    }
}





@keyframes text_intro {
    from{
        top: -30px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

@keyframes text_pop {
    from{
        opacity: 0;
        font-size: 45px;
    }
    to{
        opacity: 1;
        font-size: 65px;
    }
}